<!DOCTYPE html>
<html>
    <head>
        <title>AmyCo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="/app.css"></link>
        <link rel="stylesheet" href="/usebootstrap.css"></link>
        <link rel="stylesheet" href="/bootstrap.css"></link>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	    <script type="text/javascript" src="/datatables.js"></script>
	    <script src='https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.5/cytoscape.js'></script>
    </head>
    <body>
        <div class="container">
            <header class="jumbotron">
                <div class="container">
                    <!-- <h1>AmyCo</h1>-->
                    <img src="/amyco_logo_1.png" alt="logo" id="amycologo" style="float:center">
                    <p>The Amyloidoses Collection</p>
                </div>
            </header>
<!--            
            <div id="nav-main" class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav nav-tabs nav-justified">
                            <li><a href="/">Home</a></li>
                            <li><a href="/amyco/search">Search</a></li>
                            <li><a href="/amyco/browse">Browse</a></li>
                            <li><a href="/amyco/blast">Blast Search</a></li>
                            <li><a href="/amyco/manual">Manual</a></li>
                            <li><a href="/amyco/download">Download</a></li>
                            <li><a href="/amyco/contact">Contact</a></li>
                        </ul>
                    </div>
-->
  <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">AmyCo</a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav nav-pills nav-justified">
                            <!-- <li><a href="/">Home</a></li> -->
                            <li><a href="/amyco/search">Search</a></li>
                            <li><a href="/amyco/browse">Browse</a></li>
                            <li><a href="/amyco/blast">Blast Search</a></li>
                            <li><a href="/amyco/manual">Manual</a></li>
                            <li><a href="/amyco/download">Download</a></li>
                            <li><a href="/amyco/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            </div> 
        </div>
