<% include partials/header %>

    <div class="flex-container">
    <div class="container">
        <div class="panel panel-primary" id="download_panel">
            <div class="panel-heading">
                <h3 class="panel-title">Download Files</h3>
            </div>
            <div class="panel-body">
                <h4><a href="/assets/amyco.txt" target="_blank" download="amyco_text">Text</a></h4>
                <h4><a href="/assets/amyco.json" target="_blank" download="amyco_json">Json</a></h4>
                <!--Change links-->
                <h4><a href="/assets/amyco.xml" target="_blank" download="amyco_xml">XML</a></h4>
            </div>
        </div>
        <div class="panel panel-info" id="publication_panel">
            <div class="panel-heading">
                <h3 class="panel-title">When using this database please cite:</h3>
            </div>
            <div class="panel-body">
				<p>Nastou, K.C., Nasi, G.I., Tsiolaki, P.L., Litou, Z.I., Iconomidou, V.A.</p>
                <p><strong>AmyCo: the Amyloidoses Collection</strong></p>
                <p>bioRxiv 479279; doi: <a href="https://doi.org/10.1101/479279">https://doi.org/10.1101/479279</a> </p>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>
