<% include partials/header %>
    <div class="flex-container">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Description</h3>
            </div>
            <div class="panel-body index-panel-description">
				<p>Amyloid fibrils are formed when soluble proteins misfold into highly ordered insoluble fibrillar aggregates  
				which affect various organs and tissues. <strong>Tissue deposition of amyloid fibrils (or amyloid deposition) is the main hallmark of a group of disorders called 
				"amyloidoses"</strong>. Curiously, fibril deposition has been also recorded as a complication in a number of other neurodegenerative or 
				endocrine diseases. To date, amyloidoses are roughly classified, owing to their tremendous heterogeneity.
                </p>
                <p>
                <strong>AmyCo</strong>, a freely available collection of 
                amyloidoses and other clinical disorders related to amyloid deposition, 
                classifies <strong><%= sel %></strong> diseases into 2 distinct categories: 
                1) <strong>Amyloidosis</strong> 
                and 2) <strong>Clinical conditions associated with amyloidosis</strong>.
                </p>
                <p>
                Each database entry is annotated with the precursor proteins (causative proteins), co-deposited proteins of 
                amyloid deposits and affected tissues or organs.
                
                Database entries are also supplemented with detailed annotation and are linked to 
                <a href="http://apps.who.int/classifications/icd10/browse/2016/en" target="_blank">ICD-10</a>, 
                <a href="https://www.ncbi.nlm.nih.gov/mesh" target="_blank">MeSH</a>, 
                <a href="http://www.omim.org/" target="_blank">OMIM</a>, 
                <a href="https://www.ncbi.nlm.nih.gov/pubmed/" target="_blank">PubMed</a>, 
                <a href="http://www.amypro.net/#/" target="_blank">AmyPro</a>
                and <a href="https://www.uniprot.org/" target="_blank">UniProtKB</a> databases.
                </p>
                <p>
                <strong>AmyCo</strong> is the largest repository containing information about amyloidoses and diseases related to amyloid deposition.
                It is hoped that it will aid clinical scientists and researchers, in need of a comprehensive resource, referencing biological information on amyloidoses.
                </p>
            </div>
        </div>
        <div class="panel panel-primary" id="statistics_panel">
            <div class="panel-heading">
                <h3 class="panel-title">Statistics</h3>
            </div>
            <div class="panel-body" >
                <table id="example3" class="table table-striped table-bordered dt-responsive">
                    <tr>
                        <th>Total Number of Diseases:</th>
                        <td><strong><%= sel %></strong></td>
                    </tr>
                    <tr>
                        <th style="background-color:#454646">Total Number of Amyloidogenic Proteins:</th>
                        <td><strong><%= sel2 %></strong></td>
                    </tr>
					<tr>
                        <th>Database Version:</th>
                        <td><strong>v1.1</strong></td>
                    </tr>
                    <tr>
                        <th style="background-color:#454646">Release Date:</th>
                        <td><strong>2-Nov-2018</strong></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel panel-default" id="publication_panel">
            <div class="panel-heading">
                <h3 class="panel-title">Reference</h3>
            </div>
            <div class="panel-body">
                <p>Nastou, K.C., Nasi, G.I., Tsiolaki, P.L., Litou, Z.I., Iconomidou, V.A.</p>
                <p><strong>AmyCo: the Amyloidoses Collection</strong></p>
                <p>bioRxiv 479279; doi: <a href="https://doi.org/10.1101/479279">https://doi.org/10.1101/479279</a> </p>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>
