<% include partials/header %>

<body>
    <div class="flex-container">
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">AmyCo Privacy Notice</h3>
            </div>
            <div class="panel-body">
				<p>The administrators of AmyCo, in accordance with <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A32016R0679" target="_blank">Regulation (EU) 2016/679</a> and the relevant national legislation on the protection of natural persons with regard to the processing of personal data, provide the following privacy notice to explain what personal data is collected, for what purposes, how it is processed and how we keep it secure.</p>
					<h3>1. Who controls your personal data and how to contact us?</h3>
					<p>All data are collected and processed by the administrators of the AmyCo database.  You can contact us using the information provided in the <a href="/amyco/contact">Contact</a> page.</p>
					<h3>2. What is the lawful basis for data collection?</h3>
					<p>Data are collected to help monitor website functionality, resolve issues, improve the allocated resources and provide services to you adequately.</p>
					<h3>3. What personal data is collected from users?</h3>
					<p>
					The personal data collected by the website’s services are as follows:
					<ul>
						<li>IP address
						<li>Date and time of a visit to the service
						<li>Operating System
						<li>Browser
						<li>Amount of data transmitted
					</ul>
					<br>
					The data administrators use the aforementioned data for the following processes:
					<ul>
						<li>To provide the user access to the service
						<li>To conduct and monitor data protection activities
						<li>To conduct and monitor website security
						<li>To better understand the needs of the users and guide future improvements of the service
						<li>To communicate with users and answer their questions
					</ul>
					</p>
					<h3>4. Who has access to your personal data?</h3>
					<p>
					Any collected personal data is solely accessed and controlled by the website’s administrators (see question 1). No other person has access to the data.
					</p>
					<h3>5. Will your personal data be transferred to other organisations and/or to third countries (i.e. countries not part of EU/EAA)?</h3>
					<p>
					Any personal data directly collected by AmyCo's services are handled by the administrators of AmyCo exclusively. <b><u>There are no transfers to any other organisations whatsoever for these data</u></b>.
					<br><br>
					Please note that AmyCo utilizes a number of third-party resources to provide you with the best possible experience.  
					These include <a href="https://jquery.com/" target="_blank">jQuery</a>, 
					<a href="https://fontawesome.com/" target="_blank">FontAwesome</a>, 
					<a href="https://fonts.google.com/" target="_blank">Google Fonts</a> 
					and <a href="js.cytoscape.org/" target="_blank">Cytoscape JS</a>.  Some of these resources store cookies and may record some data to function. The administrators of AmyCo are <b>not</b> responsible for the treatment of any data by these services. You are advised to consult the Privacy Policies of each of these services through their respective web pages.
					</p>
					<h3>6. How long is your personal data kept?</h3>
					<p>
					Any personal data directly obtained from you will be retained for the minimum amount of time possible to ensure legal compliance and to facilitate internal and external audits if they arise.
					</p>
					<h3>7. Cookies Policy</h3>
					<p>
					AmyCo uses cookies to achieve personality and provide you with the best possible experience.  Specifically, we use cookies for the following purposes:<br>
					<ol>
					<li>Functionality: we use cookies for the proper functionality of the web services offered by AmyCo.
					<li>Security: we use cookies as part of the security measures aimedat  protecting your privacy, and our website and services generally.
					<li>Cookie consent: we use cookies [to store your preferences in relation to the use of cookies more generally.
					</ol>

					Most browsers allow you to refuse to accept cookies and to delete cookies. The methods for doing so vary from browser to browser, and from version to version. You can however obtain up-to-date information about blocking and deleting cookies via these links:<br>
					<ul>
					<li> <a href="https://support.google.com/chrome/answer/95647?hl=en" target="_blank"> Google Chrome</a>
					<li> <a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences" target="_blank">Mozilla Firefox</a>
					<li> <a href="https://help.opera.com/en/latest/web-preferences/" target="_blank">Opera</a>
					<li> <a href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">Microsoft Internet Explorer</a>
					<li> <a href="https://support.apple.com/el-gr/guide/safari/manage-cookies-and-website-data-sfri11471/mac" target="_blank">Apple Safari</a>
					<li> <a href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy" target="_blank">Microsoft Edge</a>
					</ul>
					Blocking <b><u>all</u></b> cookies will have a negative impact upon the usability of AmyCo.
					</p>
					<h3>8. The website’s data controllers provide the following rights regarding your personal data</h3>
					<p>
					You have the right to:
					<ol>
					<li>Not be subject to decisions based solely on an automated processing of data (i.e. without human intervention) without you having your views taken into consideration.
					<li>Request at reasonable intervals and without excessive delay or expense, information about the personal data processed about you. Under your request we will inform you in writing about, for example, the origin of the personal data or the preservation period.
					<li>Request information to understand data processing activities when the results of these activities are applied to you.
					<li>Object at any time to the processing of your personal data unless we can demonstrate that we have legitimate reasons to process your personal data.
					<li>Request free of charge and without excessive delay rectification or erasure of your personal data if we have not been processing it respecting the data protection policies of the respective controllers.
					</ol>
					<br>
					It must be clarified that rights 4 and 5 are only available whenever the processing of your personal data is not necessary to:
					<ul>
					<li>Comply with a legal obligation.
					<li>Perform a task carried out in the public interest.
					<li>Exercise authority as a data controller.
					<li>Archive for purposes in the public interest, or for historical research purposes, or for statistical purposes.
					<li>Establish, exercise or defend legal claims.
					</ul>
					<br>
					Any requests and objections can be sent to us through the <a href="/amyco/contact">Contact</a> page.
					<p>
            </div>
        </div>
    </div>
</div>
</body>

<% include partials/footer %>